#Container {
    
}

.button {
    display: inline-block; /*elements will display in a line until there is not
        enough room for another, then will start displaying items on another row and so on */
    margin: 2em; /*set the size of the space outside the border of the element*/
    vertical-align: middle; /*The element is placed in the middle of the parent element*/
    text-align: center; /*centers text horizontally*/  
}

#solidBorder {
    height: 3em; /*height of element. An em is equal to the current 
        font-size, for instance, if the font-size of the document is 12pt, 1em is equal to 12pt.*/
    width: 5em; /*element width*/
    border: 2px solid black; /*width style(required) color of border*/
    background-color: lightgreen;
    box-shadow: 1em 1em 1em green;
    text-align: center;
    font-family: "Palatino Linotype", Times, Serif;
    padding: 1em; /*clears an area around the content (inside the border) of an element*/
}

#Button2 {
    height: 3em;
    width: 5em;
    border-width: 0.5em;
    border-style: inset;
    background-color: green;
    box-shadow: 1em 1em 1em black;
    text-align: center; /*centers text horizontally*/
    font-family: "Palatino Linotype", Times, Serif;
    border-radius: 2em; /*rounds the corners*/
}

#Button3 {
    height: 4em;
    width: 6em;
    border-width: 0.5em;
    border-style: ridge;
    color: white;
    background-color: black;
    box-shadow: 1em 1em 1em black;
    text-align: center;
    font-family: "Palatino Linotype", Times, Serif;
    border-radius: 2em; /*rounds the corners*/
    padding-top: 2em;
}

#Neon1 {
    color: #fff;
    font-family: Monoton;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate; /*fading in and out*/
    animation: neon1 1.5s ease-in-out infinite alternate;         /*fading in and out*/
    width: 6em;
    border-width: 0.5em;
    border-style: solid;
    border-color: black;
    height: 6em;
    width: 9.5em;
}

#Neon1 :hover {
    color: #FF1177;
    -webkit-animation: none;
    animation: none;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}