#Container {
    display: inline-block;
}
.button {
    margin: 2em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#Button1 {
    height: 3em;
    width: 5em;
    border: 2px solid black;
    background-color: lightgreen;
    box-shadow: 1em 1em 1em green;
    text-align: center;
    font-family: "Palatino Linotype", Times, Serif;
}

#Button2 {
    height: 3em;
    width: 5em;
    border-width: 0.5em;
    border-style: inset;
    background-color: green;
    box-shadow: 1em 1em 1em black;
    text-align: center;
    font-family: "Palatino Linotype", Times, Serif;
    border-radius: 2em; /*rounds the corners*/
}

#Button3 {
    height: 4em;
    width: 6em;
    border-width: 0.5em;
    border-style: ridge;
    color: white;
    background-color: black;
    box-shadow: 1em 1em 1em black;
    text-align: center;
    font-family: "Palatino Linotype", Times, Serif;
    border-radius: 2em; /*rounds the corners*/
}

#Neon1 {
    color: #fff;
    font-family: Monoton;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
    width: 6em;
    border-width: 0.5em;
    border-style: solid;
    border-color: black;
    height: 6em;
    width: 9.5em;
}

#Neon1 :hover {
    color: #FF1177;
    -webkit-animation: none;
    animation: none;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}